@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@layer components {
  .body {
    @apply max-w-5xl mx-auto mt-32 px-3;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.animation-slide {
  animation: slide 80s linear infinite;
}
.animation-slide-100 {
  animation: slide 100s linear infinite;
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.logo {
  font-family: "Monoton";
}

.logos > div {
  display: inline-block;
  padding: 0 2.2rem;
  vertical-align: middle;
  outline: none;
  cursor: default;
}

.logos svg {
  opacity: 0.25;
  transition: opacity 0.2s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
